<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country_relevant.name %>
</p>


<%= link_to 'Edit', edit_country_relevant_path(@country_relevant) %> |
<%= link_to 'Back', country_relevants_path %>
