#map_container {
	
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#fund_details_show{

	height: 500px;
	width: 100%;  
    margin: 0 auto; 
	background-color: red;

	display: none;
	border-radius: 20px;
}

.fund_details_text{

	height: 250px;
	width: 100%;
	background-color: blue;
	margin: 20px;
	border-radius: 20px;



}

.fund_details_gauges{

	height: 250px;
	width: 100%;
	background-color: green;
	margin: 20px;
	border-radius: 20px;



}
