.down {
	background-color: #f2dede;

}

.navbar-default{
  background-color: orange;
}

.up{
	background-color: #dff0d8;

}

.stable{
	background-color: #d9edf7;
}

body{
	background-color: white;
	color: black;
}

.blank-star{
  
  color: black;

}

.chosen-star{
  
  color: #DAA520;
}

.brand-first{
  color:red;
}

.brand-second{
  
  color: white;
}

.selected {
    background-color: yellow;
}



.table-wrapper {
  position:relative;
}
.table-scroll {
  height:500px;
  overflow:auto;  
  margin-top:20px;
}

.table-wrapper table {
  width:100%;
    
}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;

}
ul>li{
  list-style: none;
}

.clickable-div{
    cursor: pointer;

}
